:root {
	/* -------------------------------------------------------------------------- */
	/*                               Color Variables                              */
	/* -------------------------------------------------------------------------- */
	// /* Master Reference - Source of truth for HSL values */
	// --pensive: hsl(175, 70%, 18%);
	// --poder: hsl(216, 100%, 33%);
	// --vibing: hsl(282, 95%, 77%);
	// --alertness: hsl(3, 100%, 69%);
	// --disfruta: hsl(335, 100%, 73%);
	// --zesty: hsl(48, 100%, 72%);
	// //
	// --bright: hsl(240, 41%, 88%);
	// --night: hsl(240, 8%, 14%);

	/* Raw HSL Values */
	/* Use when alpha is necessary? */
	--hsl-pensive: 175, 70%, 18%;
	--hsl-poder: 216, 100%, 33%;
	--hsl-vibing: 282, 95%, 77%;
	--hsl-alertness: 3, 100%, 69%;
	--hsl-disfruta: 335, 100%, 73%;
	--hsl-zesty: 48, 100%, 72%;
	//
	--hsl-bright: 240, 41%, 88%;
	--hsl-night: 240, 8%, 14%;

	/* Set to-use color bases */
	--main-pensive: hsl(var(--hsl-pensive));
	--main-poder: hsl(var(--hsl-poder));
	--main-vibing: hsl(var(--hsl-vibing));
	--main-alertness: hsl(var(--hsl-alertness));
	--main-disfruta: hsl(var(--hsl-disfruta));
	--main-zesty: hsl(var(--hsl-zesty));
	//
	--main-bright: hsl(var(--hsl-bright));
	--main-night: hsl(var(--hsl-night));

	/* -------------------------------------------------------------------------- */
	/*                             Type Variables                            */
	/* -------------------------------------------------------------------------- */
	// * -------- TESTS -------- *
	// font-size: 1.625rem; /*26 px*/
	// font-size: 1.5rem; /*24 px*/
	// font-size: 1.375rem; /*22 px*/
	//
	// // DESKTOP
	// --fsize-display: 120px;
	// --fsize-A: 105px;
	// --fsize-B: 76px;
	// --fsize-C: 43px;
	// --fsize-D: 26px;
	// --fsize-E: 22px;
	// // MOBILE
	// --fsize-display: 48px;
	// --fsize-A: 44px;
	// --fsize-B: 36px;
	// --fsize-C: 26px;
	// --fsize-D: 22px;
	// --fsize-E: 19px;
	// * -------- ACTUAL CLAMPS -------- *
	/* Family */
	--primary-type: "Mori", Poppins, Helvetica, Arial, sans-serif;
	--secondary-type: "Editorial", "Lastik", "Playfair Display", Cambria, Cochin,
		Georgia, Times, "Times New Roman", serif;
	--tertiary-type: "Dico Mono Script", "Courier New", Courier, monospace;

	/* Size */
	--fs-root: clamp(1.125rem, calc(0.5rem + 0.723vw), calc(0.5rem + 0.723vw));
	--fs-display: 7.954545rem;
	--fs-display: clamp(3rem, calc(0.5rem + 8.622vw), calc(0.5rem + 8.622vw));
	// --fs-A: 4.772727rem;
	--fs-A: clamp(2.75rem, calc(0.5rem + 5.008vw), calc(0.5rem + 5.008vw));
	// --fs-B: 3.454545rem;
	--fs-B: clamp(2.25rem, calc(0.5rem + 3.511vw), calc(0.5rem + 3.511vw));
	// --fs-C: 1.954545rem;
	--fs-C: clamp(1.625rem, calc(0.5rem + 1.8075vw), calc(0.5rem + 1.8075vw));
	// --fs-D: 1.181818rem;
	--fs-D: clamp(1.125rem, calc(0.5rem + 0.93vw), calc(0.5rem + 0.93vw));
	--fs-E: var(--fs-root);

	/* Leading */
	--lh-display: 0.95;
	--lh-A: 1.06;
	--lh-B: 1.25;
	--lh-C: 1.24;
	--lh-D: 1.52;
	--lh-E: 1.5;

	/* Tracking */
	--ls-display: -0.05em;
	--ls-A: -0.035em;
	--ls-B: -0.015em;
	--ls-C: -0.01em;
	--ls-D: -0.005em;
	--ls-E: 0.0075em;

	/* -------------------------------------------------------------------------- */
	/*                              Whitespace Units                              */
	/* -------------------------------------------------------------------------- */
	--gap-B: 8rem;
	--gap-C: 4rem;
	--gap-D: 2rem;
	--gap-E: 1rem;
	--unit: var(--gap-E);

	/* -------------------------------------------------------------------------- */
	/*                                    Grid                                    */
	/* -------------------------------------------------------------------------- */
	--grid-col-setting: repeat(12, 1fr);
	--grid-gap-unit: var(--gap-E);

	/* -------------------------------------------------------------------------- */
	/*                                   Borders                                  */
	/* -------------------------------------------------------------------------- */
	--border-width: 2px;
	--border-style: solid;
	--border-color: var(--foreground-color);
	--border-radius: 0.25rem;
	--border: var(--border-width) var(--border-style) var(--border-color);

	/* -------------------------------------------------------------------------- */
	/*                               Set base values                              */
	/* -------------------------------------------------------------------------- */

	// line-height: var(--lh-E);
	// letter-spacing: var(--ls-E);

	--foreground-color: var(--main-night);
	--background-color: var(--main-bright);
}
