$colors: (
	"pensive": "175, 70%, 20%",
	"poder": "216, 100%, 33%",
	"vibing": "280, 95%, 70%",
	"alertness": "358, 100%, 53%",
	"disfruta": "335, 100%, 73%",
	"zesty": "33, 95%, 68%",
	"bright": "240, 10%, 90%",
	"night": "255, 6%, 13%",
);

:root {
	/* -------------------------------------------------------------------------- */
	/*                               Color Variables                              */
	/* -------------------------------------------------------------------------- */

	/* Raw HSL Values */
	/* Use when alpha is necessary? */
	@each $colorName, $hslValue in $colors {
		--hsl-#{$colorName}: #{$hslValue};
	}

	/* Set to-use color bases */
	@each $colorName, $hslValue in $colors {
		--main-#{$colorName}: hsl(var(--hsl-#{$colorName}));
	}

	/* -------------------------------------------------------------------------- */
	/*                             Type Variables                            */
	/* -------------------------------------------------------------------------- */

	/* Family */
	--primary-type: "Mori", Poppins, Helvetica, Arial, sans-serif;
	--secondary-type: "Editorial", "Lastik", "Playfair Display", Cambria, Cochin, Georgia, Times,
		"Times New Roman", serif;
	--tertiary-type: "Dico Mono Script", "Courier New", Courier, monospace;

	/* Size */
	--fs-root: clamp(1.125rem, calc(0.5rem + 0.723vw), calc(0.5rem + 0.723vw));
	--fs-display: clamp(3rem, calc(0.5rem + 8.622vw), calc(0.5rem + 8.622vw));
	--fs-A: clamp(2.75rem, calc(0.5rem + calc(4.3vw + 2.15vh)), calc(0.5rem + calc(4.3vw + 2.15vh)));
	--fs-B: clamp(2.36rem, calc(0.5rem + 3.85vw), calc(0.5rem + 3.75vw));
	--fs-C: clamp(1.425rem, calc(0.5rem + 1.35vw), calc(0.5rem + 1.35vw));
	--fs-D: clamp(1.125rem, calc(0.5rem + 0.939vw), calc(0.5rem + 0.939vw));
	--fs-E: var(--fs-root);

	/* Leading */
	--lh-display: 0.95;
	--lh-A: 1.06;
	--lh-B: 1.26;
	--lh-C: 1.275;
	--lh-D: 1.52;
	--lh-E: 1.5;

	/* Tracking */
	--ls-display: -0.05em;
	--ls-A: -0.035em;
	--ls-B: -0.025em;
	--ls-C: -0.015em;
	--ls-D: -0.005em;
	--ls-E: 0.0075em;

	/* -------------------------------------------------------------------------- */
	/*                              Whitespace Units                              */
	/* -------------------------------------------------------------------------- */
	--gap-A: calc(var(--fs-root) * 16);
	--gap-B: calc(var(--fs-root) * 10);
	--gap-C: calc(var(--fs-root) * 6);
	--gap-D: calc(var(--fs-root) * 2);
	--gap-E: var(--fs-root);
	--gap-F: calc(var(--fs-root) * 0.5);
	--unit: var(--gap-E);

	/* -------------------------------------------------------------------------- */
	/*                                    Grid                                    */
	/* -------------------------------------------------------------------------- */
	--grid-col-setting: repeat(12, 1fr);
	--grid-gap-unit: var(--gap-E);

	/* -------------------------------------------------------------------------- */
	/*                                   Borders                                  */
	/* -------------------------------------------------------------------------- */
	--border-width: 1px;
	--border-style: solid;
	--border-color: var(--foreground-color);
	--border-radius: 0.25rem;
	--border: var(--border-width) var(--border-style) var(--border-color);

	/* -------------------------------------------------------------------------- */
	/*                               Set base values                              */
	/* -------------------------------------------------------------------------- */

	--foreground-color: var(--main-night);
	--background-color: var(--main-bright);
}
