@charset "UTF-8";
@import url("https://p.typekit.net/p.css?s=1&k=sop2imr&ht=tk&f=45648&a=5108939&app=typekit&e=css");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: unset;
  font-family: unset;
  font-size: unset;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* Images have mutable height and width */
img {
  display: block;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                              TYPEFACE LOADING                              */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Dico Mono Script";
  src: url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
.tk-dico-mono-script {
  font-family: "Dico Mono Script", mono;
}

/* -------------------------------------------------------------------------- */
/*                                   PP Mori                                  */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Mori";
  src: local("PP Mori Book"), local("PPMori-Book"), url("/_assets/fonts/PPMori-Book.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
@font-face {
  font-family: "Mori";
  src: local("PP Mori Regular"), local("PPMori-Regular"), url("/_assets/fonts/PPMori-Regular.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
/* -------------------------------------------------------------------------- */
/*                              PP Editorial New                              */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Editorial";
  src: local("PP Editorial New Light"), local("PPEditorialNew-Light"), url("/_assets/fonts/PPEditorialNew-Light.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
@font-face {
  font-family: "Editorial";
  src: local("PP Editorial New Light Italic"), local("PPEditorialNew-LightItalic"), url("/_assets/fonts/PPEditorialNew-LightItalic.woff2") format("woff2");
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}
:root {
  /* -------------------------------------------------------------------------- */
  /*                               Color Variables                              */
  /* -------------------------------------------------------------------------- */
  /* Raw HSL Values */
  /* Use when alpha is necessary? */
  --hsl-pensive: 175, 70%, 18%;
  --hsl-poder: 216, 100%, 33%;
  --hsl-vibing: 282, 95%, 77%;
  --hsl-alertness: 3, 100%, 69%;
  --hsl-disfruta: 335, 100%, 73%;
  --hsl-zesty: 48, 100%, 72%;
  --hsl-bright: 240, 41%, 88%;
  --hsl-night: 240, 8%, 14%;
  /* Set to-use color bases */
  --main-pensive: hsl(var(--hsl-pensive));
  --main-poder: hsl(var(--hsl-poder));
  --main-vibing: hsl(var(--hsl-vibing));
  --main-alertness: hsl(var(--hsl-alertness));
  --main-disfruta: hsl(var(--hsl-disfruta));
  --main-zesty: hsl(var(--hsl-zesty));
  --main-bright: hsl(var(--hsl-bright));
  --main-night: hsl(var(--hsl-night));
  /* -------------------------------------------------------------------------- */
  /*                             Type Variables                            */
  /* -------------------------------------------------------------------------- */
  /* Family */
  --primary-type: "Mori", Poppins, Helvetica, Arial, sans-serif;
  --secondary-type: "Editorial", "Lastik", "Playfair Display", Cambria, Cochin,
  	Georgia, Times, "Times New Roman", serif;
  --tertiary-type: "Dico Mono Script", "Courier New", Courier, monospace;
  /* Size */
  --fs-root: clamp(
  	1.125rem,
  	calc(0.75rem + 0.526125vw),
  	calc(0.75rem + 0.526125vw)
  );
  --fs-display: 7.954545rem;
  --fs-A: 4.772727rem;
  --fs-B: 3.454545rem;
  --fs-C: 1.954545rem;
  --fs-D: 1.181818rem;
  --fs-E: var(--fs-root);
  /* Leading */
  --lh-display: 0.95;
  --lh-A: 1.06;
  --lh-B: 1.25;
  --lh-C: 1.24;
  --lh-D: 1.52;
  --lh-E: 1.5;
  /* Tracking */
  --ls-display: -0.05em;
  --ls-A: -0.035em;
  --ls-B: -0.015em;
  --ls-C: -0.01em;
  --ls-D: -0.005em;
  --ls-E: 0.0075em;
  /* -------------------------------------------------------------------------- */
  /*                              Whitespace Units                              */
  /* -------------------------------------------------------------------------- */
  --gap-B: 8rem;
  --gap-C: 4rem;
  --gap-D: 2rem;
  --gap-E: 1rem;
  --unit: var(--gap-E);
  /* -------------------------------------------------------------------------- */
  /*                                    Grid                                    */
  /* -------------------------------------------------------------------------- */
  --grid-col-setting: repeat(12, 1fr);
  --grid-gap-unit: var(--gap-E);
  /* -------------------------------------------------------------------------- */
  /*                                   Borders                                  */
  /* -------------------------------------------------------------------------- */
  --border-width: 2px;
  --border-style: solid;
  --border-color: var(--foreground-color);
  --border-radius: 0.25rem;
  --border: var(--border-width) var(--border-style) var(--border-color);
  /* -------------------------------------------------------------------------- */
  /*                               Set base values                              */
  /* -------------------------------------------------------------------------- */
  font-size: var(--fs-root);
  line-height: var(--lh-E);
  letter-spacing: var(--ls-E);
  --foreground-color: var(--main-night);
  --background-color: var(--main-bright);
}

/* -------------------------------------------------------------------------- */
/*                               PROJECT STYLES                               */
/* -------------------------------------------------------------------------- */
::-moz-selection {
  background-color: var(--foreground-color);
  color: var(--background-color);
}
::selection {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--primary-type);
  font-kerning: normal;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--border-radius);
}

a {
  text-decoration: underline;
  text-underline-offset: 0.35em;
}

.header,
.main,
.footer {
  padding-inline: var(--unit);
}

.header {
  padding-top: calc(0.8 * var(--unit));
}

.main__hero-text {
  font-size: var(--fs-A);
  letter-spacing: var(--ls-A);
  line-height: var(--lh-A);
}

.work__heading,
.about__heading {
  font-size: var(--fs-B);
  letter-spacing: var(--ls-B);
  line-height: var(--lh-B);
}

.projcard__title {
  font-family: var(--secondary-type);
  font-size: var(--fs-C);
  letter-spacing: var(--ls-C);
  line-height: var(--lh-C);
}

/* -------------------------------------------------------------------------- */
/*                          More detailed base cases                          */
/* -------------------------------------------------------------------------- */
.hero-text--emph {
  font-family: var(--secondary-type);
  font-style: italic;
}/*# sourceMappingURL=style.css.map */