@charset "UTF-8";
@import url("https://p.typekit.net/p.css?s=1&k=sop2imr&ht=tk&f=45648&a=5108939&app=typekit&e=css");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: unset;
  font-family: unset;
  font-size: unset;
}

p,
a {
  color: inherit;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* Images have mutable height and width */
img {
  display: block;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                              TYPEFACE LOADING                              */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Dico Mono Script";
  src: url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/c37c7e/00000000000000007735c4e4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
.tk-dico-mono-script {
  font-family: "Dico Mono Script", mono;
}

/* -------------------------------------------------------------------------- */
/*                                   PP Mori                                  */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Mori";
  src: local("PP Mori Book"), local("PPMori-Book"), url("/_assets/typefaces/PPMori-Book.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
@font-face {
  font-family: "Mori";
  src: local("PP Mori Regular"), local("PPMori-Regular"), url("/_assets/typefaces/PPMori-Regular.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
/* -------------------------------------------------------------------------- */
/*                              PP Editorial New                              */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Editorial";
  src: local("PP Editorial New Light"), local("PPEditorialNew-Light"), url("/_assets/typefaces/PPEditorialNew-Light.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
@font-face {
  font-family: "Editorial";
  src: local("PP Editorial New Light Italic"), local("PPEditorialNew-LightItalic"), url("/_assets/typefaces/PPEditorialNew-LightItalic.woff2") format("woff2");
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}
:root {
  /* -------------------------------------------------------------------------- */
  /*                               Color Variables                              */
  /* -------------------------------------------------------------------------- */
  /* Raw HSL Values */
  /* Use when alpha is necessary? */
  --hsl-pensive: 175, 70%, 18%;
  --hsl-poder: 216, 100%, 33%;
  --hsl-vibing: 282, 95%, 77%;
  --hsl-alertness: 3, 100%, 69%;
  --hsl-disfruta: 335, 100%, 73%;
  --hsl-zesty: 48, 100%, 72%;
  --hsl-bright: 240, 26%, 89%;
  --hsl-night: 255, 6%, 13%;
  /* Set to-use color bases */
  --main-pensive: hsl(var(--hsl-pensive));
  --main-poder: hsl(var(--hsl-poder));
  --main-vibing: hsl(var(--hsl-vibing));
  --main-alertness: hsl(var(--hsl-alertness));
  --main-disfruta: hsl(var(--hsl-disfruta));
  --main-zesty: hsl(var(--hsl-zesty));
  --main-bright: hsl(var(--hsl-bright));
  --main-night: hsl(var(--hsl-night));
  /* -------------------------------------------------------------------------- */
  /*                             Type Variables                            */
  /* -------------------------------------------------------------------------- */
  /* Family */
  --primary-type: "Mori", Poppins, Helvetica, Arial, sans-serif;
  --secondary-type: "Editorial", "Lastik", "Playfair Display", Cambria, Cochin, Georgia, Times,
  	"Times New Roman", serif;
  --tertiary-type: "Dico Mono Script", "Courier New", Courier, monospace;
  /* Size */
  --fs-root: clamp(1.125rem, calc(0.5rem + 0.723vw), calc(0.5rem + 0.723vw));
  --fs-display: clamp(3rem, calc(0.5rem + 8.622vw), calc(0.5rem + 8.622vw));
  --fs-A: clamp(2.75rem, calc(0.5rem + calc(4.3vw + 2.15vh)), calc(0.5rem + calc(4.3vw + 2.15vh)));
  --fs-B: clamp(2.25rem, calc(0.5rem + 3.511vw), calc(0.5rem + 3.511vw));
  --fs-C: clamp(1.625rem, calc(0.5rem + 1.2025vw), calc(0.5rem + 1.2025vw));
  --fs-D: clamp(1.125rem, calc(0.5rem + 0.939vw), calc(0.5rem + 0.939vw));
  --fs-E: var(--fs-root);
  /* Leading */
  --lh-display: 0.95;
  --lh-A: 1.06;
  --lh-B: 1.25;
  --lh-C: 1.25;
  --lh-D: 1.52;
  --lh-E: 1.5;
  /* Tracking */
  --ls-display: -0.05em;
  --ls-A: -0.035em;
  --ls-B: -0.03125em;
  --ls-C: -0.015em;
  --ls-D: -0.005em;
  --ls-E: 0.0075em;
  /* -------------------------------------------------------------------------- */
  /*                              Whitespace Units                              */
  /* -------------------------------------------------------------------------- */
  --gap-A: calc(var(--fs-root) * 14);
  --gap-B: calc(var(--fs-root) * 10);
  --gap-C: calc(var(--fs-root) * 6);
  --gap-D: calc(var(--fs-root) * 2);
  --gap-E: var(--fs-root);
  --gap-F: calc(var(--fs-root) * 0.5);
  --unit: var(--gap-E);
  /* -------------------------------------------------------------------------- */
  /*                                    Grid                                    */
  /* -------------------------------------------------------------------------- */
  --grid-col-setting: repeat(12, 1fr);
  --grid-gap-unit: var(--gap-E);
  /* -------------------------------------------------------------------------- */
  /*                                   Borders                                  */
  /* -------------------------------------------------------------------------- */
  --border-width: 2px;
  --border-style: solid;
  --border-color: var(--foreground-color);
  --border-radius: 0.25rem;
  --border: var(--border-width) var(--border-style) var(--border-color);
  /* -------------------------------------------------------------------------- */
  /*                               Set base values                              */
  /* -------------------------------------------------------------------------- */
  --foreground-color: var(--main-night);
  --background-color: var(--main-bright);
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/*                                                                            */
/*                                 UTILITIES                                  */
/*                                                                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                               GRID UTILITIES                               */
.start1 {
  grid-column-start: 1;
}

.start2 {
  grid-column-start: 2;
}

.start3 {
  grid-column-start: 3;
}

.start4 {
  grid-column-start: 4;
}

.start5 {
  grid-column-start: 5;
}

.start6 {
  grid-column-start: 6;
}

.start7 {
  grid-column-start: 7;
}

.start8 {
  grid-column-start: 8;
}

.start9 {
  grid-column-start: 9;
}

.end5 {
  grid-column-end: 5;
}

.end6 {
  grid-column-end: 6;
}

.end7 {
  grid-column-end: 7;
}

.end8 {
  grid-column-end: 8;
}

.end9 {
  grid-column-end: 9;
}

.end10 {
  grid-column-end: 10;
}

.end11 {
  grid-column-end: 11;
}

.end12 {
  grid-column-end: 12;
}

.end13 {
  grid-column-end: 13;
}

/* -------------------------------------------------------------------------- */
/*                               COLOR UTILITIES                              */
.pensive {
  --foreground-hsl: var(--hsl-bright);
  --foreground-color: var(--main-bright);
  --background-hsl: var(--hsl-pensive);
  --background-color: var(--main-pensive);
}

.poder {
  --foreground-hsl: var(--hsl-bright);
  --foreground-color: var(--main-bright);
  --background-hsl: var(--hsl-poder);
  --background-color: var(--main-poder);
}

.vibing {
  --foreground-hsl: var(--hsl-night);
  --foreground-color: var(--main-night);
  --background-hsl: var(--hsl-vibing);
  --background-color: var(--main-vibing);
}

.alertness {
  --foreground-hsl: var(--hsl-night);
  --foreground-color: var(--main-night);
  --background-hsl: var(--hsl-alertness);
  --background-color: var(--main-alertness);
}

.disfruta {
  --foreground-hsl: var(--hsl-night);
  --foreground-color: var(--main-night);
  --background-hsl: var(--hsl-disfruta);
  --background-color: var(--main-disfruta);
}

.zesty {
  --foreground-hsl: var(--hsl-night);
  --foreground-color: var(--main-night);
  --background-hsl: var(--hsl-zesty);
  --background-color: var(--main-zesty);
}

.bright {
  --foreground-hsl: var(--hsl-night);
  --foreground-color: var(--main-night);
  --background-hsl: var(--hsl-bright);
  --background-color: var(--main-bright);
}

.night {
  --foreground-hsl: var(--hsl-bright);
  --foreground-color: var(--main-bright);
  --background-hsl: var(--hsl-night);
  --background-color: var(--main-night);
}

/* -------------------------------------------------------------------------- */
/*                                CURSOR STYLES                               */
/* -------------------------------------------------------------------------- */
#cursor {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: solid 2px var(--foreground-color);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }
  #cursor.arrow .cursor__circle {
    width: 128px;
    height: 128px;
    border-color: var(--foreground-color);
  }
  #cursor.arrow::after {
    content: "";
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  #cursor.subtle .cursor__circle {
    opacity: 0.16;
  }
  #cursor.overlay .cursor__circle {
    width: 48px;
    height: 48px;
    background-color: var(--main-vibing);
  }
}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/*                                                                            */
/*                          PROJECT STYLE SECTIONS                            */
/*                                                                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */
::-moz-selection {
  background-color: var(--foreground-color);
  color: var(--background-color);
}
::selection {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-size: var(--fs-root);
  font-family: var(--primary-type);
  font-kerning: normal;
}

section {
  min-height: 65vh;
}

p:not(footer p) {
  margin-bottom: 1em;
}

a {
  text-decoration: underline;
  text-underline-offset: 0.375em;
}

img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.header,
.main {
  padding-inline: var(--unit);
}

.header {
  padding-top: calc(0.8 * var(--unit));
  font-weight: 400;
}

.work__heading,
.about__heading {
  font-size: var(--fs-B);
  letter-spacing: var(--ls-B);
  line-height: var(--lh-B);
}

/* -------------------------------------------------------------------------- */
/*                            MAIN STYLE SECTIONS                             */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                MAIN WRAPPERS                               */
.container {
  background: var(--background-color);
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
.logotype,
.nav__link {
  text-decoration: none;
}

.nav {
  pointer-events: none;
  z-index: 100;
  position: fixed;
  bottom: 1rem;
  inset-inline: 0;
  font-size: var(--fs-E);
  letter-spacing: var(--ls-E);
  line-height: var(--lh-E);
  display: flex;
  justify-content: center;
}

.nav__wrapper {
  pointer-events: all;
  display: flex;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  color: var(--background-color);
  box-shadow: 0px 2px 10px hsla(var(--foreground-hsl), 0.1);
}

.nav__wrapper::before,
.nav__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

.nav__wrapper::before {
  background-color: hsla(var(--foreground-hsl), 0.7);
  z-index: -10;
}

.nav__wrapper::after {
  background-color: none;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: -20;
}

.nav__link {
  display: block;
  padding: 0.5rem 0.75rem 0.4rem;
}

/* -------------------------------------------------------------------------- */
/*                                HERO SECTION                                */
.main__hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.main__hero-text,
.hero-text__larger--chunk-a,
.hero-text__larger--chunk-b {
  display: block;
}

.main__hero-text {
  font-size: var(--fs-A);
  letter-spacing: var(--ls-A);
  line-height: var(--lh-A);
  padding-block: max(32vh, 1 * var(--gap-C));
}

.hero-text__larger--chunk-a {
  -webkit-margin-start: calc(var(--unit) * 0.275);
          margin-inline-start: calc(var(--unit) * 0.275);
}

.hero-text__larger--chunk-b {
  -webkit-margin-end: calc(var(--unit) * 0.45);
          margin-inline-end: calc(var(--unit) * 0.45);
  text-align: right;
}

.hero-text--emph {
  font-family: var(--secondary-type);
  font-style: italic;
}

.hero-text__keep {
  white-space: nowrap;
}

/* -------------------------------------------------------------------------- */
/*                              HOME WORK GALLERY                             */
.main__work {
  scroll-margin-top: var(--gap-C);
}

.work__heading {
  display: none;
}

.proj-card__linked-wrapper {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--gap-D);
}

.proj-card:nth-of-type(1), .proj-card:nth-of-type(2) {
  align-self: flex-end;
}

.proj-card__copy {
  order: 2;
  margin-top: var(--gap-F);
  display: flex;
  justify-content: space-between;
}

.proj-card__title {
  font-family: var(--secondary-type);
  font-size: var(--fs-C);
  letter-spacing: var(--ls-C);
  line-height: var(--lh-C);
}

.proj-card__tag {
  margin-top: -0.26rem;
  white-space: nowrap;
}

.image-wrapper {
  display: block;
  aspect-ratio: 16/10;
}

.image {
  min-width: 100%;
  min-height: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                 HOME ABOUT                                 */
.main__about {
  display: flex;
  flex-wrap: wrap;
  gap: var(--unit);
  padding-block: var(--gap-A);
}

.about__heading,
.about__copy {
  min-width: min(27.5rem, 100%);
}

.about__heading {
  /*50% activates wrap w flex-wrap, little less to go just under (Width - Gap)/2 but maintain 1:1 ratio */
  flex: 1 0 0%;
}

.about__copy {
  /*50% activates wrap w flex-wrap, little less to go just under (Width - Gap)/2 but maintain 1:1 ratio */
  flex: 1 1 0%;
}

.about__copy-grafs {
  font-size: var(--fs-C);
  letter-spacing: var(--ls-C);
  line-height: var(--lh-C);
}

.about__copy-link {
  font-size: var(--fs-D);
  letter-spacing: var(--ls-D);
  line-height: var(--lh-D);
}

/* -------------------------------------------------------------------------- */
/*                             INDIV PROJECT PAGE                             */
/* -------------------------------------------------------------------------- */
.proj__hero {
  margin-bottom: var(--unit);
  display: flex;
  align-items: end;
}

.hero__title {
  font-size: var(--fs-A);
  letter-spacing: var(--ls-A);
  line-height: var(--lh-A);
}

.proj__copy-intro {
  padding-bottom: var(--gap-C);
}

.copy__prompt {
  font-size: var(--fs-B);
  letter-spacing: var(--ls-B);
  line-height: var(--lh-B);
  font-family: var(--secondary-type);
  padding-block: var(--gap-C);
}

.copy__details-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--unit);
}

.copy__grafs,
.copy__tags-wrapper {
  min-width: min(30ch, 100%);
}

.copy__grafs {
  order: 2;
  font-size: var(--fs-C);
  letter-spacing: var(--ls-C);
  line-height: var(--lh-C);
  flex: 2 1 49%;
}

.copy__tags-wrapper {
  font-family: var(--secondary-type);
  flex: 2 1 49%;
}

.copy__tags-header {
  font-family: var(--primary-type);
  margin-bottom: 1em;
}

.copy__tag::after {
  content: "_";
  margin-right: 1em;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.footer {
  background-color: var(--foreground-color);
  color: var(--background-color);
  border-radius: var(--border-radius);
  margin: var(--unit);
  isolation: isolate;
}

.footer__id__wrapper {
  /* For side colophon */
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--gap-D);
  padding: var(--unit);
}

.footer__id {
  flex: 1 0 80%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(var(--unit) * 0.8);
  -moz-column-gap: calc(var(--unit) * 1.5);
       column-gap: calc(var(--unit) * 1.5);
}

.footer__id-header {
  width: 100%;
  display: none;
}

.id__fname,
.id__lname,
.id__email,
.id__linkedin {
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}

.id__name,
.id__linkedin {
  width: -moz-fit-content;
  width: fit-content;
}

.id__email {
  display: inline-flex;
  flex-wrap: wrap;
}

.id__email p {
  overflow-wrap: anywhere;
}

.id__form-label,
.colophon__blurb,
.marquee__txt {
  font-size: var(--fs-E);
  letter-spacing: var(--ls-E);
  line-height: var(--lh-E);
  font-family: var(--tertiary-type);
}

.id__form-label {
  display: inline-block;
  order: 2;
  margin-top: 0.25em;
}
.id__form-label + p {
  font-size: var(--fs-A);
  letter-spacing: var(--ls-A);
  line-height: var(--lh-A);
  text-decoration: underline;
  text-underline-offset: 0.125em;
  text-decoration-thickness: var(--border-width);
}

/* Colophon */
.footer__colophon {
  flex: 1 0 calc(14.8% - 5vw);
  min-width: 13.9ch;
  display: inline-flex;
  flex-direction: column;
  gap: var(--unit);
  justify-content: space-between;
}

.colophon__blurb {
  line-height: 1.25;
}

/* -------------------------------------------------------------------------- */
/*                                 FOOTER BAR                                 */
@keyframes marquee-anim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.footer__bar {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--foreground-color);
  color: var(--background-color);
  border-top: 2px solid var(--background-color);
  overflow-x: hidden;
  white-space: nowrap;
  padding-block: var(--unit);
}

.footer__bar:hover > div {
  animation-play-state: paused;
}

.marquee {
  display: inline-block;
  animation: marquee-anim 70s linear infinite;
}

.marquee__txt::after {
  content: "—";
  display: inline-block;
  padding-inline: 2rem;
}

.footer__bar::after {
  content: "";
  display: block;
  width: 100%;
  background-color: --foreground-color;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/*                                                                            */
/*                                   DESKTOP                                  */
/*                                                                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                     NAV                                    */
/* -------------------------------------------------------------------------- */
@media (min-width: 600px) {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
  }
  .logotype {
    display: block;
    height: -moz-fit-content;
    height: fit-content;
  }
  .logotype,
  .nav__link {
    text-decoration: none;
  }
  .nav {
    /* unset mobile as needed */
    position: unset;
    bottom: unset;
    inset-inline: unset;
    pointer-events: unset;
    /**/
  }
  .nav__wrapper {
    /* unset mobile as needed */
    flex-direction: column;
    box-shadow: none;
    color: unset;
    border-radius: unset;
    /**/
    padding-bottom: var(--gap-F);
    border-bottom: var(--border);
  }
  .nav__wrapper::before,
  .nav__wrapper::after {
    content: none;
  }
  .nav__item {
    text-align: end;
  }
  .nav__link {
    display: block;
    padding: unset;
  }
}
/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */
@media (min-width: 950px) {
  .work__gallery {
    display: grid;
    gap: var(--unit);
    grid-template-columns: var(--grid-col-setting);
  }
}/*# sourceMappingURL=style.css.map */