<section class="main__about">
	<h2 class="main__about__heading">About Me</h2>
	<div class="about__copy">
		<div class="about__copy-grafs">
			{% for graf in about.homeGrafs %}
			<p>{{ graf }}</p>
			{% endfor %}
		</div>
		<div class="about__copy-link">
			<a href="#" data-cursor-class="arrow">My experience &rarr;</a>
		</div>
	</div>
</section>