<footer class="footer">
	<h2 class="footer__id-header">I'm on the internet!</h2>
	<div class="footer__id__wrapper">
		<div class="footer__id">
			<div class="id__fname">
				<h3 class="id__form-label">First name</h3>
				<p>Sami</p>
			</div>
			<div class="id__lname">
				<h3 class="id__form-label">Last name</h3>
				<p>Moya Medina</p>
			</div>
			<a class="id__email" href="mailto:smoyame@outlook.com" data-cursor-class="arrow">
				<h3 class="id__form-label">Email</h3>
				<p>smoyame<wbr />@outlook.com</p>
			</a>
			<a class="id__linkedin" href="https://www.linkedin.com/in/smoyame" data-cursor-class="arrow">
				<h3 class="id__form-label">LinkedIn</h3>
				<p>smoyame</p>
			</a>
		</div>
		<aside class="footer__colophon">
			<p class="colophon__blurb">
				Here to help create + deliver change for all peoples.
			</p>
			<p class="colophon__copyright">&copy; 2022</p>
		</aside>
	</div>
	{% include "_footer-bar.njk" %}
</footer>