<header class="header">
	<a href="#" class="logo-type">Sami Moya Medina</a>
	<ul class="nav-wrapper">
		<li class="nav-item"><a href="#">My Work</a></li>
		<li class="nav-item"><a href="#">Sketchbook</a></li>
		<li class="nav-item"><a href="#">About Me</a></li>
	</ul>
</header>