<header class="header">

	<a href="/" class="logotype">Sami Moya Medina</a>
	<nav class="nav">
		<ul class="nav__wrapper">
			<li class="nav__item"><a class="nav__link" href="/#work">Work</a></li>
			<li class="nav__item"><a class="nav__link" href="/sketchbook">Sketchbook</a></li>
			<li class="nav__item"><a class="nav__link" href="/about">About</a></li>
		</ul>
	</nav>

</header>