<header class="header">

	<a class="logotype" href="/" data-cursor-class="arrow">Sami Moya Medina</a>
	<nav class="nav">
		<ul class="nav__wrapper">
			<li class="nav__item"><a class="nav__link" href="/#work" data-cursor-class="arrow">Work</a></li>
			<li class="nav__item"><a class="nav__link" href="/sketchbook" data-cursor-class="arrow">Sketchbook</a></li>
			<li class="nav__item"><a class="nav__link" href="/about" data-cursor-class="arrow">About</a></li>
		</ul>
	</nav>

</header>