<section class="main__work">
	<h2 class="work__heading">My Work</h2>
	<div class="work__gallery">
		<div class="projcard">
			<div class="projcard__copy">
				<h3 class="projcard__title">Project Title</h3>
				<p class="projcard__tag">Tag</p>
			</div>
			<a href="#" class="projcard__link-img"><img src="https://unsplash.it/640/425" alt="Test alt text." class="projcard__img"></a>
		</div>
	</div>
</section>