---
layout: base.njk
permalink: 404.html
---
<section class="error-404__wrapper">
	<h1 class="error-404__header">Woops, there's no page here!</h1>
	<div class="error-404__display">404</div>
</section>