---
layout: 'base.njk'
title: 'Digital Designer | Sami Moya Medina'
---

<section class="about__intro">
	<h1 class="about__heading ">Sami - Digital Designer</h1>
	<div class="about__intro-wrapper">
		{% for graf in about.pageGrafs %}
		<p class="about__graf">{{ graf }}</p>
		{% endfor %}
	</div>
</section>
<section class="about__experience">
	<h2 class="exp__heading">My Experience</h2>
	<ul class="exp__list">
		<li class="exp__item"></li>
		<li class="exp__item"></li>
		<li class="exp__item"></li>
		<li class="exp__item"></li>
		<li class="exp__item"></li>
		<li class="exp__item"></li>
	</ul>
</section>