---
title: MAIN INDEX
layout: 'base.njk'
---

<main class="main">
	<p>This is main content for consumption.</p>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae repellendus qui ratione facere harum corporis in aliquam neque ex dolore. Minima quibusdam beatae recusandae pariatur maiores magni, velit reprehenderit tenetur.</p>
</main>
