---
title: MAIN INDEX
layout: 'base.njk'
---

<main class="main">
	<!-- HERO -->
	<section class="main__hero">
		<h1 class="main__hero-text"><span class="hero-text__larger--chunk-a"><span class="hero-text--emph">Digital Designer</span> who strives</span> <span class="hero-text__larger--chunk-b">to keep <span class="hero-text--emph">giving</span> while <span class="hero-text--emph">growing</span></span></h1>
	</section>
	<!-- MY WORK -->
	{% include "_projects.njk" %}
	<!-- ABOUT ME -->
	<div class="main__about">
		<h2 class="about__heading">About Me</h2>
		<div class="about__copy">
			<div class="about__copy-grafs">
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, nisi. Cumque aliquid officia vitae eveniet delectus ducimus, dolor officiis cum tempora nulla saepe facere, ipsa porro illo! Cumque, sunt perferendis!</p>
				<p>Beatae ex, eos iusto harum possimus voluptatum quam unde illo omnis itaque explicabo odit cupiditate rem veniam expedita illum ratione commodi dolores hic. Enim saepe fugiat impedit facere dicta officia!</p>
			</div>
			<div class="about__copy-link">
				<a href="#">My experience -></a>
			</div>
		</div>
	</div>
</main>
