@use "_includes/scss/_reset";
@use "_includes/scss/_typefaces";
@use "_includes/scss/_variables" as variables;

/* -------------------------------------------------------------------------- */
/*                                                                            */
/*                                                                            */
/*                                 UTILITIES                                  */
/*                                                                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */

@mixin typelvl($letter) {
	font-size: var(--fs-#{$letter});
	letter-spacing: var(--ls-#{$letter});
	line-height: var(--lh-#{$letter});
}

.noevents {
	/* Used for: hero animation, removed on complete */
	pointer-events: none;
}

/* -------------------------------------------------------------------------- */
/*                               GRID UTILITIES                               */

@mixin gridSpan($start: true, $value) {
	@if $start {
		.start#{$value} {
			grid-column-start: #{$value};
		}
	} @else {
		.end#{$value} {
			grid-column-end: #{$value};
		}
	}
}

@for $gridColStart from 1 through 9 {
	@include gridSpan(true, $gridColStart);
}

@for $gridColEnd from 5 through 13 {
	@include gridSpan(false, $gridColEnd);
}

/* -------------------------------------------------------------------------- */
/*                               COLOR UTILITIES                              */

@each $colorName, $hslValue in variables.$colors {
	.#{$colorName} {
		@if ($colorName == "pensive" or $colorName == "poder" or $colorName == "night") {
			--foreground-hsl: var(--hsl-bright);
			--foreground-color: var(--main-bright);
		} @else {
			--foreground-hsl: var(--hsl-night);
			--foreground-color: var(--main-night);
		}
		--background-hsl: var(--hsl-#{$colorName});
		--background-color: var(--main-#{$colorName});
	}
}

/* -------------------------------------------------------------------------- */
/*                                CURSOR STYLES                               */
/* -------------------------------------------------------------------------- */

#cursor {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	pointer-events: none;
	will-change: transform;
}

@media (hover: hover) and (pointer: fine) {
	.cursor__circle {
		width: 64px;
		height: 64px;
		margin-top: -50%;
		margin-left: -50%;
		border-radius: 50%;
		border: solid 2px var(--foreground-color);
		transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
			background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
			border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
			height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	}

	#cursor.arrow .cursor__circle {
		width: 150px;
		height: 150px;
		border-color: var(--foreground-color);
	}

	#cursor.disabled-notif::after {
		content: "";
		position: absolute;
		left: -50%;
		top: -50%;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}

	#cursor.subtle .cursor__circle {
		opacity: 0.16;
	}

	#cursor.overlay .cursor__circle {
		width: 48px;
		height: 48px;
		background-color: var(--main-vibing);
	}
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/*                                                                            */
/*                          PROJECT STYLE SECTIONS                            */
/*                                                                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */

::selection {
	background-color: var(--foreground-color);
	color: var(--background-color);
}

body {
	color: var(--foreground-color);
	background-color: var(--background-color);
	font-size: var(--fs-root);
	font-family: var(--primary-type);
	font-kerning: normal;
}

section {
	min-height: 65vh;
}

p,
.about__copy-grafs,
.text__graf {
	margin-bottom: 1em;
}

p:last-of-type {
	margin-bottom: 0;
}

a {
	text-decoration: underline;
	text-underline-offset: 0.375em;
}

img,
video {
	width: 100%;
	border-radius: var(--border-radius);
}

img {
	width: 100%;
	height: 100%;
	//
	object-fit: cover;
	object-position: center center;
}

.header,
.main {
	padding-inline: var(--unit);
}

.header {
	padding-top: calc(0.8 * var(--unit));
	font-weight: 400;
}

.work__heading,
.main__about__heading {
	@include typelvl(B);
}

/* -------------------------------------------------------------------------- */
/*                                  404 PAGE                                  */
/* -------------------------------------------------------------------------- */

.error-404__wrapper {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.error-404__display {
	// font-family: var(--secondary-type);
	font-size: calc(3 * var(--fs-display));
	// font-style: italic;
	font-weight: 600;
	letter-spacing: -0.025em;
	line-height: 1em;
}

.error-404__header {
	font-family: var(--tertiary-type);
}

/* -------------------------------------------------------------------------- */
/*                            MAIN STYLE SECTIONS                             */
/* -------------------------------------------------------------------------- */

//

/* -------------------------------------------------------------------------- */
/*                                MAIN WRAPPERS                               */

.container {
	background: var(--background-color);
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */

.header {
	z-index: 100;
	pointer-events: none;
}

.logotype,
.nav__link {
	text-decoration: none;
	pointer-events: all;
}

.nav {
	// because it spans the whole width and blocks an invisible band
	pointer-events: none;
	//
	position: fixed;
	bottom: 1rem;
	inset-inline: 0;
	@include typelvl(E);
	z-index: 100;
	//
	display: flex;
	justify-content: center;
}

.nav__wrapper {
	pointer-events: all;
	//
	display: flex;
	border-radius: var(--border-radius);
	overflow: hidden;
	position: relative;
	color: var(--background-color);
	//
	box-shadow: 0px 2px 10px hsla(var(--foreground-hsl), 0.1);
}

.nav__wrapper::before,
.nav__wrapper::after {
	content: "";
	display: block;
	position: absolute;
	inset: 0;
}

.nav__wrapper::before {
	background-color: hsla(var(--foreground-hsl), 0.8);
	z-index: -10;
}

.nav__wrapper::after {
	background-color: none;
	backdrop-filter: blur(8px);
	z-index: -20;
}

.nav__link {
	display: block;
	padding: 0.5rem 0.75rem 0.4rem;
}

/* -------------------------------------------------------------------------- */
/*                                HERO SECTION                                */

.main__hero {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.main__hero-text,
.hero-text__larger--chunk-a,
.hero-text__larger--chunk-b {
	display: block;
}

.main__hero-text {
	@include typelvl(A);
	//
	padding-block: max(32vh, calc(1 * var(--gap-C)));
}

.hero-text__larger--chunk-a {
	margin-inline-start: calc(var(--unit) * 0.275);
}

.hero-text__larger--chunk-b {
	margin-inline-end: calc(var(--unit) * 0.45);
	text-align: right;
}

.hero-text--emph {
	font-family: var(--secondary-type);
	font-style: italic;
}

.hero-text__keep {
	white-space: nowrap;
}

.splitChar {
	transform-origin: center;
}

/* -------------------------------------------------------------------------- */
/*                              HOME WORK GALLERY                             */

.main__work {
	scroll-margin-top: var(--gap-C);
}

.work__heading {
	display: none;
}

.work__gallery {
	row-gap: calc(2rem + var(--gap-D));
}

.proj-card__linked-wrapper {
	text-decoration: none;
	//
	display: flex;
	flex-direction: column;
	margin-bottom: var(--gap-D);
}

.proj-card {
	&:nth-of-type(1),
	&:nth-of-type(2) {
		align-self: flex-end;
	}
}

.proj-card__copy {
	order: 2;
	//
	margin-top: var(--gap-F);
	display: flex;
	justify-content: space-between;
}

.proj-card__title {
	font-family: var(--secondary-type);
	@include typelvl(C);
}

.proj-card__tag {
	margin-top: -0.26rem;
	//
	white-space: nowrap;
}

.proj__image-wrapper {
	display: block;
	overflow: hidden;
	position: relative;
	aspect-ratio: 16 / 9;
}

/* -------------------------------------------------------------------------- */
/*                                 HOME ABOUT                                 */

.main__about {
	display: flex;
	flex-wrap: wrap;
	gap: var(--unit);
	padding-block: var(--gap-A);
}

.main__about__heading,
.about__copy {
	min-width: min(27.5rem, 100%);
}

.main__about__heading {
	flex: 1 0 0%;
}

.about__copy {
	flex: 1 1 0%;
}

.about__copy-grafs {
	@include typelvl(C);
}

.about__copy-link {
	@include typelvl(D);
}

/* -------------------------------------------------------------------------- */
/*                             INDIV PROJECT PAGE                             */
/* -------------------------------------------------------------------------- */

.proj__hero {
	min-height: 45vh;
	margin-bottom: var(--unit);
	display: flex;
	align-items: end;
}

.hero-cover__img {
	min-height: 50vh;
	max-height: 110vh;
}

.hero__title {
	@include typelvl(A);
}

.proj__copy-intro {
	padding-bottom: var(--gap-C);
}

.copy__prompt {
	@include typelvl(B);
	font-family: var(--secondary-type);
	padding-block: var(--gap-C);
}

.copy__details-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	gap: var(--unit);
	row-gap: var(--gap-C);
}

.copy__grafs,
.copy__tags-wrapper {
	min-width: min(30ch, 100%);
}

.copy__grafs {
	@include typelvl(C);
	flex: 2 1 49%;
}

.copy__tags-wrapper {
	flex: 2 1 49%;
}

.copy__tags-header {
	@include typelvl(E);
	margin-top: -0.25rem;
	margin-bottom: var(--gap-F);
	text-transform: uppercase;
}

.copy__tag {
	font-family: var(--secondary-type);
}

.copy__tag::after {
	content: "_";
	margin-right: 0.25rem;
}

.proj__gallery {
	grid-template-columns: var(--grid-col-setting);
	gap: var(--gap-E);
}

.gallery__item {
	margin-bottom: var(--gap-E);
}

.gall__text-wrapper {
	padding-block: var(--gap-C);
	@include typelvl(D);
}

/* -------------------------------------------------------------------------- */
/*                              INDIV ABOUT PAGE                              */
/* -------------------------------------------------------------------------- */

.about__intro,
.about__experience {
	padding-bottom: var(--gap-A);
}

.about__intro {
	display: flex;
	flex-wrap: wrap;
	gap: var(--unit);
}

.about__intro-heading,
.about__intro-copy {
	min-width: 20ch;
}

.about__intro-heading {
	visibility: hidden;
	flex: 1 1 20%;
}

.about__experience {
	@include typelvl(D);
}

.about__intro-copy {
	flex: 1 1 70.5%;
}

.about__intro-copy {
	padding-top: 45vh;
}

.about__graf {
	@include typelvl(B);
}

.about__exp-wrapper {
	grid-template-columns: repeat(6, 1fr);
	gap: var(--unit);
}

.exp__heading {
	@include typelvl(B);
	font-family: var(--secondary-type);
	margin-bottom: var(--gap-D);
	grid-column: 1 / span 2;
}

.exp__list {
	grid-column: 4 / -1;
}

.about__experience,
.exp__item {
	font-weight: 300;
}

.exp__item {
	margin-bottom: var(--gap-D);
}

.exp__item-heading {
	@include typelvl(D);
	font-weight: 400;
}

.exp__item-subheading,
.exp__item-scope {
	margin-bottom: 0;
}

.exp__item-dates {
	@include typelvl(E);
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

.footer {
	background-color: var(--foreground-color);
	color: var(--background-color);
	border-radius: var(--border-radius);
	//
	margin: var(--unit);
	isolation: isolate;
}

.footer__id__wrapper {
	/* For side colophon */
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--gap-D);
	//
	padding: var(--unit);
}

.footer__id {
	flex: 1 0 80%;
	//
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: calc(var(--unit) * 0.8);
	column-gap: calc(var(--unit) * 1.5);
}

.footer__id-header {
	width: 100%;
	display: none;
}

.id__fname,
.id__lname,
.id__email,
.id__linkedin {
	text-decoration: none;
	display: inline-flex;
	flex-direction: column;
	width: fit-content;
}

.id__name,
.id__linkedin {
	width: fit-content;
}

.id__email {
	display: inline-flex;
	flex-wrap: wrap;
}

.id__email p {
	overflow-wrap: anywhere;
}

.id__form-label,
.colophon__blurb,
.marquee__txt {
	@include typelvl(E);
	font-family: var(--tertiary-type);
}

.id__form-label {
	display: inline-block;
	order: 2;
	margin-top: 0.25em;
	& + p {
		@include typelvl(A);
		text-decoration: underline;
		text-underline-offset: 0.125em;
		text-decoration-thickness: var(--border-width);
	}
}

/* Colophon */

.footer__colophon {
	flex: 1 0 calc(14.8% - 5vw);
	min-width: 13.9ch;
	// max-width: 21ch;
	display: inline-flex;
	flex-direction: column;
	gap: var(--unit);
	justify-content: space-between;
}

.colophon__blurb {
	line-height: 1.25;
}

/* -------------------------------------------------------------------------- */
/*                                 FOOTER BAR                                 */

@keyframes marquee-anim {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.footer__bar {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	//
	background-color: var(--foreground-color);
	color: var(--background-color);
	border-top: var(--border-width) var(--border-style) var(--background-color);
	overflow-x: hidden;
	white-space: nowrap;
	//
	padding-block: var(--unit);
}

.footer__bar:hover > div {
	animation-play-state: paused;
}

.marquee {
	display: inline-block;
	animation: marquee-anim 70s linear infinite;
}

.marquee__txt::after {
	content: "\2014";
	display: inline-block;
	padding-inline: 2rem;
}

.footer__bar::after {
	content: "";
	display: block;
	width: 100%;
	background-color: (--foreground-color);
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/*                                                                            */
/*                                   DESKTOP                                  */
/*                                                                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */

//

/* -------------------------------------------------------------------------- */
/*                                     NAV                                    */
/* -------------------------------------------------------------------------- */

@media (min-width: 600px) {
	.header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: fixed;
		mix-blend-mode: hard-light;
	}

	.logotype {
		display: block;
		height: fit-content;
	}

	.logotype,
	.nav__link {
		text-decoration: none;
	}

	.nav {
		/* unset mobile as needed */
		position: unset;
		bottom: unset;
		inset-inline: unset;
		pointer-events: unset;
		/**/
	}

	.nav__wrapper {
		/* unset mobile as needed */
		flex-direction: column;
		box-shadow: none;
		color: unset;
		border-radius: unset;
		overflow: unset;
		/**/
	}

	.nav__wrapper::before {
		content: none;
	}

	.nav__wrapper::after {
		content: "";
		height: calc(100% + 0.75rem);
		margin-left: auto;
		border-bottom: var(--border-width) var(--border-style) var(--foreground-color);
		width: 50%;
		order: 10;
	}

	.nav__item {
		text-align: end;
	}

	.nav__link {
		display: block;
		padding: unset;
	}
}

/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */

@media (min-width: 950px) {
	/* -------------------------------------------------------------------------- */
	/*                            HOMEPAGE WORK SECTION                           */
	/* -------------------------------------------------------------------------- */

	.work__gallery {
		display: grid;
		// gap: var(--unit);
		grid-template-columns: var(--grid-col-setting);
		grid-auto-flow: row dense;
	}

	.proj-card:nth-child(1),
	.proj-card:nth-child(2) {
		grid-row-start: 1;
	}

	/* -------------------------------------------------------------------------- */
	/*                             INDIV PROJECT PAGE                             */
	/* -------------------------------------------------------------------------- */

	.proj__gallery {
		display: grid;
	}

	/* -------------------------------------------------------------------------- */
	/*                              INDIV ABOUT PAGE                              */
	/* -------------------------------------------------------------------------- */

	.about__exp-wrapper {
		display: grid;
	}
}
