@use "_includes/scss/_reset.scss";
@use "_includes/scss/_typefaces.scss";
@use "_includes/scss/_variables.scss";

@mixin typelvl($letter) {
	font-size: var(--fs-#{$letter});
	letter-spacing: var(--ls-#{$letter});
	line-height: var(--lh-#{$letter});
}

/* -------------------------------------------------------------------------- */
/*                               PROJECT STYLES                               */
/* -------------------------------------------------------------------------- */

::selection {
	background-color: var(--foreground-color);
	color: var(--background-color);
}

body {
	color: var(--foreground-color);
	background-color: var(--background-color);
	font-size: var(--fs-root);
	font-family: var(--primary-type);
	font-kerning: normal;
}

img {
	max-width: 100%;
	max-height: 100%;
	border-radius: var(--border-radius);
}

a {
	text-decoration: underline;
	text-underline-offset: 0.35em;
}

.header,
.main,
.footer {
	padding-inline: var(--unit);
}
.header {
	padding-top: calc(0.8 * var(--unit));
}

.main__hero-text {
	@include typelvl(A);
}

.work__heading,
.about__heading {
	@include typelvl(B);
}

.projcard__title {
	font-family: var(--secondary-type);
	@include typelvl(C);
}

/* -------------------------------------------------------------------------- */
/*                          More detailed base cases                          */

.hero-text--emph {
	font-family: var(--secondary-type);
	font-style: italic;
}

/* -------------------------------------------------------------------------- */
/*                                  GLOBAL                                    */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */

.container {
	background: var(--background-color);
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 100;
	color: var(--background-color);
	mix-blend-mode: difference;
}

@supports (font-smoothing: always) {
	.header {
		font-smooth: always;
	}
}

@supports (-webkit-font-smoothing: anti-aliasing) {
	.header {
		-webkit-font-smoothing: anti-aliasing;
	}
}

.logotype {
	display: block;
	height: fit-content;
}

.logotype,
.nav__link {
	text-decoration: none;
	//
	// font-weight: 300;
}

.nav__item {
	text-align: end;
}

/* -------------------------------------------------------------------------- */
/*                                HERO SECTION                                */

.footer {
	height: 100vh;
	outline: 1px solid red;
}
